{% extends "base.html"%}
{% block title %}Results{% endblock %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'lightstyle.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'datatablecss.css' %}">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    
    
</head>
 
<body>
<div class = "mainContent">
    <div class = "width_control">

        <div><h1>Patient List</h1></div>


        <table id="patientsTable" class="display">
            <thead>
                <tr>
                    <th class="firstnameH">First Name</th>
                    <th class="lastnameH">Last Name</th>
                    <th class="dataH">View Data</th>
                </tr>
            </thead>
            <tbody class = "tablebody">
                {% for patient in qs %}
                <tr>
                    <td class = "name1">{{patient.first_name}}</td>
                    <td class = "name2">{{patient.last_name}}</td>
                    <td class = "link"><a href={% url 'pages:indivpatient' patient.id %} class = "linktext">View Data</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
</body>


{% block js %}
<script>
    var patients = [];
    let tf = true;
    {% for data in qs %}
            patients.push('{{data}}');
    {% endfor %}
    console.log(patients);

    $(document).ready( function () {
        $('#patientsTable').DataTable();
    } );
</script>
{% endblock js %}

</html>


{% endblock %}